body {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    position: relative;
    max-width: 590px;
    width: 100%;
    border-radius: 0px;
    padding: 15px;
    margin: 0 15px;
    border: #000000 solid;
    background-color: #ffffff;
    right: 300px;
  }
  
  .header h6 {
    position: absolute;
    font-size: 15px;
  }
  
  .header i {
    position: relative;
    display: inline-block;
    width: 2.5em;
    left: 450px;
  }
  
  .container .body {
    position: relative;
    min-height: 600px;
    margin-right: 100px;
    margin-right: -2.5vh;
    margin-left: -2.5vh;
    background-color: rgb(240, 237, 237);
  }
  
  .container .side-menu {
    background-color: black;
    max-width: 40px;
    min-height: 480px;
  }
  
  .container .top-menu {
    background-color: red;
    max-width: 40px;
    min-height: 45px;
  }
  
  .container .top-menu i {
    font-size: 25px;
    color: white;
    position: relative;
    margin-left: 1vh;
  }
  
  .container .side-menu i {
    display: center;
    color: white;
    font-size: 30px;
    margin-left: 1vh;
  }
  
  .container .bottom-menu {
    background-color: red;
    max-width: 40px;
    min-height: 45px;
  }
  
  .container .bottom-menu i {
    display: center;
    color: white;
    font-size: 30px;
    margin-left: 1vh;
  }
  
  .container .main-content {
    position: relative;
    max-width: 544px;
    width: 100%;
    border-radius: 0px;
    margin: 0 15px;
    background-color: rgb(196, 189, 189);
    right: -25px;
    max-height: -10px;
    margin-top: -615px;
    padding: 50px;
  }
  
  .main-content h5 {
    position: relative;
    font-size: 20px;
    margin-top: -35px;
    color: black;
  }
  
  .container .main-content i {
    font-size: 30px;
    color: rgb(0, 0, 0);
    position: relative;
    right: 40px;
    display: block;
    margin-left: -1vh;
    margin-top: -10vh;
  }
  
  .container .main-content h6 {
    display: inline;
    position: relative;
    word-spacing: 20px;
    display: flex;
    margin-top: 40px;
  }
  
  .container .options {
    position: relative;
    left: 50px;
  }
  
  .container .options {
    font-size: 15px;
  }
  
  .toggle-button {
    background-color: #ffffff;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    border-color: rgb(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
    transition: 0.2s;
  }
  
  .toggle-button::before {
    position: absolute;
    content: " ";
    background-color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin: 5px;
    transition: 0.2s;
  }
  
  input {
    display: none;
  }
  
  label {
    font-size: 20px;
    position: absolute;
  }
  
  input:checked + .toggle-button {
    background-color: #0875ca;
  }
  
  input:checked + .toggle-button::before {
    transform: translateX(30px);
  }
  
  select {
    position: relative;
    width: 400px;
    height: 35px;
  }
  